.loading {
    color: transparent;
    background: linear-gradient(100deg, #e1e1fd 30%, #e4e4f9 50%, #ffffff 70%);
    background-size: 400%;
    animation: loading 2s ease-in-out infinite;
  }
  
  @keyframes loading {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }